<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>hello</title>

	<meta charset="utf-8">
	<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>   
	<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">恋爱日记</a>
	</div>
	<div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="#">日记</a></li>
			<li><a href="#">心情</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					其它
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#">jmeter</a></li>
					<li><a href="#">EJB</a></li>
					<li><a href="#">Jasper Report</a></li>
					<li class="divider"></li>
					<li><a href="#">分离的链接</a></li>
					<li class="divider"></li>
					<li><a href="#">另一个分离的链接</a></li>
				</ul>
			</li>
		</ul>
	</div>
	</div>
</nav>
	<a href="/us/addDiary">添加新日记</a>

	<table border="1" class="table table-hover table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Context</th>
				<th>Create Date</th>
				<th>Last Modified Date</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="diary,diaryState: ${diaries}">
				<td th:text="${diaryState.index}"></td>
				<td th:text="${diary.title}"></td>
				<td th:text="${diary.content}"></td>
				<td th:text="${diary.createDate}"></td>
				<td th:text="${diary.modifyDate}"></td>
			</tr>
		</tbody>
	</table>
	<center>
		<a href="/us/diary?page=1">1</a>
		<a href="/us/diary?page=2">2</a>
		<a href="/us/diary?page=3">3</a>
	</center>
</body>
</html>