<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>hello</title>
</head>

<body>
	<div class="upload">
		<form action="/us/success" enctype="multipart/form-data" method="post">
			<input type="file" name="file"/><br/>
			<input type="submit" value="up">
		</form>
	</div>
<form action="/us/success" method="get">
Title <input type="text" name="title"><br>
Content <input type="text" name="content"><br>
Create Date <input type="date" name="create_date"><br>
<input type="submit" value="Submit">
</form>
</body>
</html>